################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/quizgen-ai/FileContentIndex
/.vs/slnx.sqlite
/faiss_index
.vs/quizgen-ai/v17/.wsuo
.vs/VSWorkspaceState.json
.vs/quizgen-ai/v17/DocumentLayout.json
__pycache__/
.idea
.venv
venv
.env
logs/app.log
.env
